@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  background-color: hsl(275, 100%, 97%);
  background-image: url(/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  max-width: 600px;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
}
.main-header {
  font-size: 40px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  color: hsl(292, 42%, 14%);
}
.main-header img {
  display: block;
  width: 30px;
  margin-right: 15px;
}
/* ==================== */
.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.question-header {
  font-size: 16px;

  color: hsl(292, 42%, 14%);
}
.show {
  font-size: 16px;
  line-height: 20px;
  color: hsl(292, 16%, 49%);
  margin-bottom: 25px;
}
.hide {
  display: none;
}
.show .answer {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: hsl(292, 16%, 49%);
  margin-bottom: 25px;
}

.hr {
  width: 100%;
  border-bottom: 1.5px solid hsl(275, 100%, 97%);
  margin-bottom: 25px;
}
.show-hide-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 375px) {
  body {
    background-image: url(/images/background-pattern-mobile.svg);
  }
}
